body {
    margin: 0;
    padding: 0;
    font-family: 'Champagne & Limousines';
    background-color: #dfdfdf; /* 设置背景颜色为浅灰色 */
}

/* 设置为 normal 来去掉加粗 */
.custom-header {
    font-weight: normal; /* 设置为 normal 来去掉加粗 */
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    width: 100%;
    height: 100px;
    z-index: 1;
}

.nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 5%;
}

.logo {
    flex: 1 1 auto;
    margin-left: 5%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px;
}

a {
    margin: 15px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: #c2c2c2;
}

/* Banner 区域：背景图片和文字排版 */
.banner-area {
    position: relative;
    display: flex;
    justify-content: flex-start; /* 保证图片在左边 */
    align-items: center; /* 垂直居中对齐 */
    width: 100%;
    height: 100vh; /* 占满屏幕高度 */
    background-color: #dfdfdf; /* 设置背景色为浅灰色 */
}

/* 背景图片 */
.background-image {
    position: absolute;
    margin-top: 10px;
    padding-left: 10%;
    width: 22%;
    height: auto;
    object-fit: cover;
    z-index: 1; /* 背景图片位于最底层 */
    transition: opacity 0.3s ease; /* 增加平滑过渡效果 */
}

/* 内容部分：人物图片和文字 */
.banner-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 2; /* 文字和人物图片位于上层 */
    width: 100%;
    padding-left: 10%; /* 使内容稍微偏左，避免与边缘太近 */
}

.person-image {
    width: 25%; /* 人物图片占容器的 30% */
    height: auto;
    object-fit: cover;
    margin-right: 150px; /* 保持人物图片和文字之间的距离 */
}

/* 文字部分 */
.text-part {
    max-width: 70%; /* 控制文字部分的最大宽度 */
}

/* 文字样式 */
h1 {
    font-size: 50px;
    font-family: "Champagne & Limousines";
}

p {
    font-size: 24px;
    padding-top: 10px;
    line-height: 1.6;
    padding-right: 15%;
}

/* 添加占位伪元素来解决跳转位置问题 */
.about-area::before,
.port-area::before,
.Blog-area::before,
.contact-area::before {
    content: '';
    display: block;
    height: 100px; /* 导航栏的高度 */
    margin-top: -100px; /* 抵消高度，确保跳转到正确位置 */
}

/* 其它区域样式保持不变 */
.about-area,
.port-area,
.Blog-area,
.contact-area {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100vh; /* 确保这些区域占满屏幕 */
}

html {
    scroll-behavior: smooth;
}
